.badge {
    padding: 6px 11px;
    color: var(--txt-white);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.badge-HIGH {
    background-color: var(--second-color-red);
}

.badge-LOW {
    background-color: var(--second-color-green);
}

.badge-UNKNOWN {
    background-color: var(--second-color-gray);
}

.badge-MEDIUM {
    background-color: var(--second-color-orange);
}
